*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.helping-section,
.header,
.home,
.product-section,
.footer{
    background-color: rgb(228, 228, 240);
}
.blog-section .read-more{
    text-decoration: none;
    font-size: 18px;
}
h1{
    color:#7A7A7A;
}
#btn{
    background-color: rgb(95, 190, 95);
}